<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2024-06-15T13:30:20Z</date>
	<key>WorkspacePath</key>
	<string>/Users/ndinfotech/Desktop/hire_job_Mobile_App/macos/Runner.xcworkspace</string>
</dict>
</plist>
